/* Blog Page */
.blog_style2 .blog_post_content_wrapper{
  width: 102.6%;
}
.blog_post_wrapper  article{
  margin-bottom:30px;
  clear: both;
  float: left;
  width: 100%;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.11);
}
.blog_post_content_wrapper {
    background-color: #ffffff;
    overflow: hidden;
    display: block;
    padding:5px;
}
.post_description_wrapper {
    padding: 35px;
}
.meta_post_info span i, .meta_post_info span a {
    padding-right: 10px;
}
.meta_post_info span a {
    padding-left: 10px;
}
.blog_post_content_wrapper > .one_third:not(.post_description_wrapper) {
  width: 40%;
  margin: 0;
  position: relative;
}
.blog_style1  .fullwidth_meta_date_wrapper, .blog_style1.format-quote .meta_date_wrapper, .standard-blog .fullwidth_meta_date_wrapper, .standard-blog .format-quote, .masonry_blog_gallery .post_format-post-format-quote .meta_date_wrapper, .masonry_blog_gallery .meta_date_wrapper.fullwidth_meta_date_wrapper, .post_format-post-format-quote .meta_date_wrapper, .meta_date_wrapper.fullwidth_meta_date_wrapper {
  left: 0px;
}
.post_img_with_date{
  position: relative;
}
.blog_post_content_wrapper > .two_third_last:not(.post_description_wrapper) {
    width: 60%;
    margin: 0;
    position: relative;
}
.blog_post_wrapper .date_category span{
  letter-spacing: 2px;
  font-weight: 400;
}
.blog_post_wrapper .readmore_button{
  padding: 0px;
  margin-top: 30px;
}
.gllery_slider, .format-quote span.image_title_border{
  display: none;
}
.meta_post_info{
  margin-bottom: 0!important;
  color: #ffffff;
  border-top: 1px solid #869193;
  border-bottom: 1px solid #869193;
  padding: 5px;
}
.meta_date_wrapper {
  position: absolute;
  top: 0%;
  left:0%;
  color: #353535;
  border: 2px solid #ffffff;
  margin: 0px;
  z-index: 1;
}
.meta_date {
  background: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  margin: 4px;
  text-align: center;
}
.meta_date span {
    display: block;
}
.blog_style1 .readmore_button.button_align_left, .standard-blog .readmore_button.button_align_left{
  left: 0px;
}
.standard-blog .meta_post_info{
  clear:both;
}
.meta_category{
  margin-left: 15px;
}
/* Blog style 2*/
.blog_post_wrapper article.one_third{
  clear:inherit;
  width:30.70%;
  margin-right: 2.6%;
  margin-bottom: 2.6%!important;
}
/* Quotation */
.quote_format h3 {
  margin-bottom: 15px;
  font-weight: 100!important;
  font-size: 18px;
}
.quote_format h5 {
  margin-bottom: 30px;
  opacity: 0.8;
}
.quote_format_text i{
  margin-right: 14px;
  margin-left: 14px;
}
article.post_format-post-format-quote .post_description_wrapper, article.format-standard .fullwidth .post_description_wrapper, article.post_format-post-format-link .post_description_wrapper, article.post_format-post-format-chat .post_description_wrapper, article.post_format-post-format-gallery .fullwidth .post_description_wrapper, article.post_format-post-format-aside .post_description_wrapper, article.post_format-post-format-image .post_description_wrapper, article.post_format-post-format-chat .post_description_wrapper, article.post_format-post-format-status .post_description_wrapper, article.post_format-post-format-audio .fullwidth .post_description_wrapper, article.post_format-post-format-video .fullwidth .post_description_wrapper{
    padding-left: 140px;
}

.post_description_wrapper{
  overflow: hidden;
}
.blog_single_page_content_wrapper .quote_format_text{
  padding:45px;
  display: block;
  margin-bottom: 30px;
}
.blog_single_page_content_wrapper .quote_format_text h5{
  margin-bottom: 0px;
}
.post_description_wrapper .gallery{
    clear: both;
    overflow: hidden;
    display: block;
    text-align: left;
}
.post_description_wrapper .gallery dt {
    float: none;
    overflow: hidden;
    clear: both;
}
.post_description_wrapper .gallery dd{
  text-align: left;
}
/* -------------------------------------------
author information
---------------------------------------------*/
div#entry-author-info {
    background-color: #ffffff;
    margin-top: 30px;
    overflow: hidden;
    padding: 30px;
}
#author-description .single_page_sharing_icons ul{
  float: left;
  display: block;
  list-style: none;
  margin: 0px;
}
#author-description .single_page_sharing_icons li{
  margin-left: 0px;
  margin-right: 15px;
  display: inline-block;
}
#author-description h3{
  margin-bottom: 20px;
}
span.disable_img_border {
    display: none;
}
.quote_format_text h4, .quote_format_text h5{
  font-weight: normal!important;
}
/* -------------------------------------------
Comments
---------------------------------------------*/
ol.commentlist{
  margin: 0 0 45px 0 !important;
  list-style-type: none!important;
}
ol.commentlist li{
  margin-bottom: 45px!important;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 45px;
}
.commentlist li ul.children{
  margin-top: 45px!important;
  border-top: 1px solid #d6d6d6;
  padding-top: 45px;
  margin-bottom: 0!important;
  margin-left: 0!important;
  padding-left: 65px;
  list-style: none!important;
}
ol.commentlist li:last-child{
  margin-bottom: 0px!important;
  border: 0px;
  padding-bottom: 0;
}
#singlepage_nav {
   margin-top: 45px;
}
.blog_single_page_content_wrapper #comments, #content_section #comments{
  padding:45px;
  background: #ffffff;
  margin-top: 30px;
}
div#comments textarea,div#comments input {
  border: 1px solid #d6d6d6;
  background: none;
  background: rgba(127,127,127,.05);
}
div#comments input {
    width: 96%;
    padding: 10px 2%;
}
div#comments textarea {
    width: 98%;
    padding: 10px 1%;
}
.comment-notes{
  display: none;
}
#comments p.nocomments{
    padding-bottom: 0px;
}
.commentlist li .parent div#respond {
    margin-top: 40px;
}
#respond input.submit{
  width: auto!important;
  background: #ed3c74;
  border: 1px solid #ed3c74;
  color: #b9b9b9;
  cursor: pointer;
  padding: 6px 35px;
  letter-spacing: 2px;
}
#respond input.submit:hover{
  color: #b9b9b9;
}
.comment-form .form-submit{
  padding-bottom: 0px;
}
.comment-body {
    clear: both;
    overflow: hidden;
}
.comment-author.vcard h4 {
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
}
.comment-author.vcard {
    float: left;
    margin-right: 15px;
    position: relative;
    padding-right: 7px;
}
.comment-author.vcard::after{
  content:'|';
  display: block;
  position: absolute;
  left: 100%;
  top:0px;
}
.comment-body p{
  padding-bottom: 10px;
}
.comment-reply-link{
  position: relative;
}
.comment-reply-link::after{
  content:"\2192 ";
  position: absolute;
  left: 100%;
}
/* Related Posts */
.related_post_slider{
  display: none;
}
#mid_container_wrapper .relatedposts {
  margin-top: 30px;
  background-color: #ffffff;
  padding: 45px;
}
.relatedposts .description_box{
    padding: 25px 0px;
}
.related_post_slider span{
  font-size: 16px;
}
.related_post_slider h4.title_style2 {
    margin-bottom: 10px;
}
#singlepage_nav a {
    padding: 12px 20px;
    border:1px solid #b9b9b9;
    color: #b9b9b9;
    position: relative;
}
.nav_prev_item {
    float: left;
    margin-right: 5px;
}
.nav_prev_item a {
    padding-left: 50px!important;
}
.nav_next_item a{
    padding-right: 50px!important;
}
#singlepage_nav .nav_next_item a::before {
    content: "\f178";
    position: absolute;
    right: 0;
    font-family:'fontawesome';
    margin-right: 20px;
    top: 8px;
}
#singlepage_nav .nav_prev_item a::after {
    content: "\f177";
    position: absolute;
    left: 0;
    margin-left: 20px;
    font-family:'fontawesome';
    top: 8px;
}
/* Search */
#mid_container .search_post {
    padding: 0 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(127,127,127,.1);
    padding-bottom: 50px;
}
/* pagination */
ul.page-numbers{
  margin-top: 30px;
  clear: both;
  float: right;
}
ul.page-numbers {
  margin: 0px!important;
  border: 0px!important;
  list-style: none!important;
}
ul.page-numbers li{
    margin: 0 3px;
    font-size: 14px;
    font-weight: bold;
    color: #8b8b8b;
    padding: 1px 3px;
    float: left;
    font-weight: bold;
}
ul.page-numbers li span.current{
  background-color: #ed3c74;
  color: #ebebeb;
}
ul.page-numbers li i{
  font-weight: bold;
}
ul.page-numbers li .page-numbers{
    padding:3px 8px;
}
.blog_post_wrapper .page-numbers{
  margin-top: 0px;
}
/* Button Styling */
.readmore_button{
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.search_post .readmore_button{
  display: table;
}
.blog_post_wrapper .readmore_button {
  padding: 0px;
  background-color: #fff;
  display: inline-block;
}
.fm-form input.submit, .toggle_search_wrapper .search_form #search_submit, #respond input.submit,  .readmore_button, #wp-submit.readmore_button {
  padding: 8px 30px!important;
  line-height: 25px!important;
}
/* password form */
.post-password-form input[type="submit"]{
  color: #ffffff;
  cursor: pointer;
}
