nav.fluid_menu {
    position: relative;
    right: 0;
}
.menu_content_wrapper{
    visibility: visible!important;
    opacity: 1!important;
}
#boxed_layout .toggle_search {
    right: 0;
}
#header_container_wrapper .menu{
    float: right;
}
/* Sticky Menu */
.sticky_menu {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.sticky_menu.fluid_container{
    position: fixed;
    left: inherit;
    padding: 0px;
}
.nav_wrap{
    border-radius: 5px;
}
.menu ul {
    border-radius: 2px;
    display: block;
    list-style: none outside none;
    position: relative;
    margin:0;
}
.menu > ul  > li {
    margin: 0;
    position: relative;
    text-align: left;
    float: left;
   }
.menu > ul > li > a {
    color: #FFFFFF;
    display: block;
    padding: 16px 17px;
    text-decoration: none;
    letter-spacing: 2px;
    padding: 25px 20px;
}
.menu > ul > li a .members_dashboard{
    margin-right: 5px;
}
.menu > ul > li.fa:before{
    position: absolute;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu > ul > li > a:last-child {
    border-right: 0 none;
}
.menu span.menu_description{
    display:block;
    font-size: 12px!important;
    margin-top: 5px;
    opacity:0.6;
}
.menu ul ul {
   margin: 30px 0 0 0; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 220px;
    top:64px;
    left: 0;
    z-index: 1;
    background: #fff;
}
.menu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
.menu ul > ul{
    padding-top: 33px;
 }   
.menu > ul > li > ul {
    margin-top: 0px;
}
.menu ul ul li {
    float: none;
     position: relative;
     border-bottom:1px solid rgba(127,127, 127, 0.3);
     border-top: 1px solid rgba(127,127, 127, 0.5);
     margin-bottom: 0px;
     background-color: #ebebeb;
}
.menu ul ul li a {
    display: block;
    font-size: 13px;
    height: 100%;
    line-height: 20px;
    padding: 10px 22px;
    text-align: left;
}
.menu ul ul li a:hover {
    color:#F54325;
}
.menu ul ul ul {
    position: absolute;
    left: 100%;
    top:0;
    width:210px;
}
.menu ul > li.main-links:last-child a{
border-right:0px!important;
}
.menu ul li:last-child > a {
    border-right: 0 none !important;
}
.menu ul li:first-child > a {
    border-left: 0 none !important;
}
.menu ul  li ul li:last-child , .menu ul  li ul li ul li:last-child {
    border-bottom:none!important;
}
.search_menu_icons .mobile_menu, .mobile_menu_section{
        display: none;
 }
/* Mobile Menu */
.disable_header_mobile_menu{
   display: none!important;
}
.mobile_menu{
    font-size: 27px;
    text-align: center;
    position: relative;
    z-index: 0;
    float: left;
    height: 30px;
    width: 30px;
    padding: 7px 10px;
    line-height: 30px;
    cursor: pointer;
}
.mobile_menu_section{
    overflow: hidden;
    padding: 20px 0px;
    border-top: 1px solid rgba(204,204,204,.2);
    margin-top: 20px;
}
.mobile_menu_section ul{
   display: block;
   overflow: hidden;
   float: none;
   padding:0 15px;
}
.mobile_menu_section ul li{
    display: block;
    margin-bottom: 0px;
    text-align: left;
}
.mobile_menu_section ul li a{
    background: none!important;
    padding: 10px 0;
    display: block;
    letter-spacing: 2px;
}
.mobile_menu_section ul ul{
    display: block;
}
.mobile_menu_section ul ul{
    padding-left: 30px;
    border-top: 1px solid rgba(127,127,127,.1);
}
.mobile_menu_section .fa::before{

}
.mobile_menu_section ul li{
    border-bottom: 1px solid rgba(127,127,127,.1);
}
.mobile_menu_section .user_login{
    border-left: 0px;
}
.mobile_menu_section .fa::before {
    float: left;
    padding-top: 8px;
    padding-right: 8px;
}
.toggle_search_icon {
    margin: 0px;
}
.mobile_menu_section{
    clear: both;
}
/* User Login */
li.user_login {
    border-left: 1px solid rgba(127,127,127,0.3);
}
