/*------------------------------
Description Box Style
------------------------------*/
.description{
  overflow: hidden;
  display: block;
}
.title_style1{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}
.title_style2{
  margin-bottom: 15px;
  padding-bottom: 10px;
  position: relative;
}
.title_seperator{
  background-color: #BAC2C4;
  bottom: 0;
  display: block;
  height: 2px;
  position: absolute;
  width: 150px;
}
/* Image colums */
.image_grid_column1 li{
  width: 100%;
  margin-bottom: 0px;
}
.image_grid_column2 li{
  width: 49.99%;
  margin-bottom: 0px;
  float: left;
}
.image_grid_column3 li{
  width: 33.32%;
  margin-bottom: 0px;
  float: left;
}
.image_grid_column4 li{
  width: 24.9%;
  margin-bottom: 0px;
  float: left;
}
.image_grid_column5 li{
  width: 19.9%;
  margin-bottom: 0px;
  float: left;
}
.image_grid_column6 li{
  width: 16.5%;
  margin-bottom: 0px;
  float: left;
}
.gutter_images_column1 li{
  width: 100%;
   margin-bottom: 1.5%!important;
}
.gutter_images_column2 li{
  width: 48.5%;
  margin-right: 1.5%;
   margin-bottom: 1.5%!important;
  float: left;
}
.gutter_images_column3 li{
  width: 31.8%;
  margin-right: 1.5%;
   margin-bottom: 1.5%!important;
  float: left;
}
.gutter_images_column4 li{
  width: 23.5%;
  margin-right: 1.5%;
   margin-bottom: 1.5%!important;
  float: left;
}
.gutter_images_column5 li{
  width: 18.4%;
   margin-right: 1.5%;
  margin-bottom: 1.5%!important;
  float: left;
}
.gutter_images_column6 li{
  width: 14%;
   margin-right: 1.5%;
  margin-bottom: 1.5%;
  float: left;
}
.gutter_images{
  width: 101.5%;
  margin: 0px!important;
}
/* Buttons */
.readmore_button{
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*---------------------------
Callout Boxes
----------------------------*/
.callout_box_wrapper h1, .callout_box_wrapper h2, .callout_box_wrapper h3, .callout_box_wrapper h4, .callout_box_wrapper h5, .callout_box_wrapper h6 {
    margin-bottom: 0!important;
}
.callout_button {
    width: auto!important;
    float: none!important;
    margin: 0px auto!important;
    text-align: center;
    display: table!important;
}
#calout_bg_image {
  float: left;
  background-position: center;
  width: 100%;
  height:100%;
  left: 0px;
  top:0px;
  position: absolute;
}
.callout_box_content {
  margin: 0 auto !important;
  width:100%;
  position: relative;
  overflow: hidden;
}
/* Stle 2*/
.callout_box_style2 .callout_box_content{
  width: 90%;
  text-align: center!important;
}
.callout_button1, .callout_button2{
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
.description_box a.readmore_button.callout_button{
   margin-top: 0px!important;
   width: auto!important;
}
.callout_button1, .callout_button2, .callout_button{
    vertical-align: middle;
    z-index: 1;
    overflow: hidden;
    margin-top: 30px!important;
    padding:6px 30px;
}
.callout_box_content p{
  padding-bottom:0px;
}

/*---------------------------------
Testimonial Slider 
-----------------------------------*/
.testimonial_slider_wrapper  {
    width: 70%;
    margin: 0px auto;
    text-align: center;
}
.testimonial_slider p{
  padding-bottom: 0px;
}
.testimonial_slider span.desc_border_bottom{
   height: 4px;
  background-color: #646C6F;
  width: 100px;
  display: block;
  margin: 0px auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
.testimonial_slider_wrapper  .thumbimg .slider_thumb_img{
    display: inline-block;
    margin: 0px 5px 30px;
    z-index: 0;
    height: 100px;
    width: 100px;
}
.testimonial_slider_wrapper  .thumbimg {
    overflow: hidden;
    display: table;
    margin: 0px auto;
    clear: both;
}
.slider_thumb_img{
  position: relative;
  z-index: 1;
  border:4px solid #000;
}
.slider_thumb_border{
  border: 1px solid #929E9E;
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/*-----------------------------------
Icon border
-----------------------------------*/
 .icon_box_wrapper {
  padding: 45px;
  display: block;
  overflow: hidden;
} 

.iconbox_bg{
  line-height: 100%;
}
.iconbox_left .alignleft{
  margin-right: 35px;
  margin-bottom:5px;
}
.iconbox_right .alignright{
  margin-left: 35px;
}
.iconbox_bg.aligncenter{
  display: table!important;
}
.iconbox_bg.aligncenter, .iconbox_bg.alignnone{
  margin-bottom:40px;
}
.iconbox .readmore_button{
  padding:0px!important;
  display: block;
}
.iconbox .description{
  overflow: hidden!important;
  display: block;
}
.iconbox .description p{
  padding-bottom: 0px;
}
/*----------------------------------
 Team Widget
----------------------------------*/
.team_social_media_icons a, .team_social_media_icons a:hover{
   -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.team_social_media_icons a {
    padding: 5px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    margin-right: 4px;
}
.team_image_wrapper{
  display: none;
}
/*Recent Posts*/
.recent_posts ul{
  margin:0px;
}
.recent_posts li{
  list-style: none;
  clear: both;
  margin-bottom: 30px;
}
.recent_posts .description_box{
  display: block;
  padding:0px;
}
.recent_posts .description_box p{
   padding-bottom: 0px; 
}
.recent_post_image{
  float: left;
  margin: 0 20px 0px 0px;
  width: auto;
  position: relative;
  z-index: 0;
}
.recent_posts  ul li{ 
  display: block;
  overflow: hidden;
}
/*---------------------------------------
Portfolio 
-----------------------------------------*/
/* Filter tabs */
.filter ul li a {
    padding: 15px 40px;
    overflow: hidden;
    display: block;
    border-radius: 0!important;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 100;
}
.filter ul li {
  float: left;
  padding: 0px;
  margin: 0px;
}

div#filter {
    margin-bottom: 60px;
    overflow: hidden;
}
/* Portfolio Image Grid */
.pf_extra_width{
  width: 101%;
}
.portfolio_content_wrapper ul {
  margin: 0!important;
  list-style: none!important;
}
.portfolio_content_wrapper ul li{
  overflow: hidden;
}
.portfolio_content_wrapper span.pf_title_wrapper {
    display: block;
    padding: 5px 15px;
 }
 .pf_image_wrapper1{
  position: relative;
  display: block;
  border:5px solid #ffffff;
 }
.portfolio_img_grid_columns > ul li{
  float: left;
  position: relative;
  padding-bottom: 0;
  margin-right: 1%!important;
  margin-bottom: 1%!important;
  list-style: none;
}
#mid_container_wrapper .portfolio_img_grid_columns > ul li{
  margin-right: 1%!important;
  margin-bottom: 1%!important;
  display: block
}
.pf_content_wrapper1, .portfolio_content_wrapper span.pf_title_wrapper, .pf_single_page_button{
 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.pf_content_wrapper{
    display: block;
    border-radius: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0px;    
}
.pf_title_description{
   position: relative;
   background: #fff;
    display: none;
}
.pf_title_description {
    padding: 10px 15px;
    line-height: 15px!important;
}
.pf_title_description span strong{
  font-weight: 600!important
}
.pf_title_description span {
    display: inline-block;
    font-size: 12px!important;
    font-style: normal!important;
    margin-right: 10px;
}
.portfolio_columns8 > ul li{
  width: 11.5%!important;
}
.portfolio_columns7 > ul li{
  width: 13.28%!important;
}
.portfolio_columns6 > ul li{
  width: 15.66%!important;
}
.portfolio_columns5 > ul li{
  width: 19%!important;
}
.portfolio_columns4 > ul li{
  width: 24%!important;
}
.portfolio_columns3 > ul li{
  width: 32.33%;
}
.portfolio_columns2 > ul li{
  width: 49%;
}
.portfolio_columns1 > ul li{
  width: 100%;
}
.gray_scale_img img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}
a.pf_single_page_button {
     display: table;
  margin-top: 20px;
  margin: 20px auto 0;
  padding: 5px 20px;
  border-radius: 1px;
}
/* Images Load more */
.pf_loading_button a, .pf_load_more_images a{
    padding: 6px 25px;
    color: #fff;
    text-transform: uppercase;
    display: table;
    margin: 0px auto;
    background: #ed3c74;
    margin-top: 30px;
    border-radius: 2px;
    letter-spacing: 1px;
}
.pf_loading_button i {
    margin-right: 10px;
}
/* End */
/* Gallery slider */
.images_gallery_wrapper ul {
    margin: 0px!important;
    list-style: none!important;
}
.images_gallery_wrapper ul li{
  list-style: none;
  position: relative;
  background: #000;
}
.images_gallery_wrapper ul li:hover .image_link_icon{
  opacity: 1;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.images_gallery_wrapper ul li:hover img.lightbox_img_opacity{
  opacity: 0.3;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.images_gallery_wrapper .gutter_images{
  width: 100%;
}
.images_gallery_wrapper ul li:hover .image_link_icon{
  opacity: 1;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  height: 100%;
  top:0;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}
/* Accorion Shortcode
----------------------------------------------------------------------------------------------------*/
.accordion {
  clear: both;
  width: 100%;
}
.accordion > strong {
  border-color: #ddd;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  cursor: pointer;
  margin: 0;
  padding: 10px 20px;
  display:block;
  position:relative;  
  font-size: 13px!important;
}
.accordion  span.ui-icon:before {
  content: "";
  font-family: fontawesome;
  font-size: 13px;
  margin-right: 12px;
}
.accordion > strong.ui-state-active > span.ui-icon:before {
  content: "";
  font-family: fontawesome;
}
.accordion span.ui-icon {
  float: right;
  margin-left: 10px;
  text-align: right;
  width: 20px;
}
.accordion > strong.ui-state-active {
  border-bottom:1px solid #ddd;
  background-color:#eee;
}
.accordion > div {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin: 0 !important;
  position:relative;
}
.accordion > strong {
  border: 1px solid #ddd;
  color: #888888;
  line-height: 170%;
  margin-top: -1px;
  transition: all 0.2s ease 0s;
}
.accordion_wrapper .description_box{
  padding: 30px!important;
}
/* toggle styles
----------------------------------------------------------------------------------------------------*/
.toggle_container{
  display:block;
  clear:both;
}
strong.trigger {
  background-color: #DFDFDF;
  background-repeat: no-repeat;
  color: #666666;
  cursor: pointer;
  display: block;
  line-height: 28px;
  padding: 8px 15px;
  margin-top: -1px;
  line-height: 100%;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.toggle_content {
  margin: 0 0 0px 0;
  padding: 0; 
  overflow: hidden;
  width:100%;
  clear: both;
}
.toggle_content .block {
  padding: 30px;
  background-color:#fff;
  }
.toggle_content .block p {
  padding: 5px 0;
  margin: 5px 0;  
}
strong.trigger i {
  margin-right: 6px;
  text-align: center;
}
.toggle_title_icon{
  margin-right: 10px;
}
.arrow_buttons{
  float: right;
}
/* Hariontal Tabs
----------------------------------------------------------------------------------------------------*/
.tab_content {
  clear: both;
  display: block;
}
.tabContaier{
  margin:0px auto;
  position:relative;

}
.horizontal_tabs > ul{
  z-index:1;
  margin:0!important;
}
.horizontal_tabs > ul > li{
  display: inline;
  float: left;
  list-style:none;
  margin-right:0px;
  padding: 0!important;
  margin-bottom: 0;
}
.horizontal_tabs > ul > li:last-child{
  margin-right:1px;
}
.horizontal_tabs > ul > li a{
  border-right:0;
  color:#666;
  cursor:pointer;
  display:block;
  padding:10px 20px;
  text-decoration:none;
  border-left:1px solid #ccc; /* for non-css3 browsers */
  border-right:1px solid #ccc; /* for non-css3 browsers */
  border-top:1px solid #ccc; /* for non-css3 browsers */
  font-weight: bold;
  position: relative;
     -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  margin-right: -1px;
}
.horizontal_tabs .tab-active a{
  color:#333;
}
.horizontal_tabs .tabDetails{
  min-height:100px;
  border:1px solid #ccc;   
  margin-top: -1px;
}
.ui-tabs-panel.ui-widget-content.ui-corner-bottom {
    clear: both;
}
/* Vertical Tabs
----------------------------------------------------------------------------------------------------*/
.vertical_tabs{
  margin:0px auto;
  position:relative;
}
.vertical_tabs > ul{
  border-right:0px solid #fff;
  position:absolute;
  z-index:100;
  margin:0px!important;
  padding:0px;
  width:19.9%;
}
.vertical_tabs > ul >  li{
  list-style:none;
  display:block;
  float: none;
  padding: 0!important;
  margin-bottom: 0;
}
.vertical_tabs li:first-child a{
  border-top:1px solid #ccc;
}
.vertical_tabs > ul > li a{
  border-bottom:none;
  border-right:0;
  color:#666;
  cursor:pointer;
  display:block;
  padding:7px 20px 7px 20px;
  text-decoration:none;
  border:1px solid #ccc;
  border-top:1px solid #fff;
  height: inherit!important;
  position: relative;
  margin-right: -1px;
}
.vertical_tabs .ui-tabs-active a, .vertical_tabs ul li a:hover{
  border-right:0;
  color:#333;
  border-right: 0 none !important;
  position: relative;
  z-index: 9;
}
.vertical_tabs > ul > li a:hover, .vertical_tabs > ul > li.tab-active a{
   border-bottom: 0!important;
 }
.vertical_tabs .tabDetails{
  margin-left:20%;
  min-height:200px;
  border:1px solid #ccc;
  padding:30px;
}
.vertical_tabs > ul > li:last-child {
    margin-bottom: 0 !important;
}
ul.tabContaier a {
    line-height: 20px!important;
}
/*-----------------------------------------------------
Button Widget 
------------------------------------------------------*/
.widget_button {
  padding:7px 20px;
  position: relative;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
  -o-transition:all 0.5s ease 0s;
  -ms-transition:all 0.5s ease 0s;
  -moz-transition:all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.alignleft {
  float: left;
  margin: 0 20px 15px 0;
  width: auto;
}
.aligncenter {
  display: block;
  margin: 0 auto 20px;
  width: auto;
}
.alignnone {
  margin-bottom: 15px;
  width: auto;
}
.widget_button i {
  margin-right: 8px;
  -o-transition:all 0.5s ease 0s;
  -ms-transition:all 0.5s ease 0s;
  -moz-transition:all 0.5s ease 0s;
  -webkit-transition:all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.button_wrapper_center{
  text-align: center;
}
.button_wrapper_center .aligncenter{
  display: inline-block!important;
}
/*list_boxes*/
.custom_list_box ul li{
  background-repeat: no-repeat;
  list-style: none;
  background-position: left 9px;
}
.custom_list_box ul{
  margin: 0px!important;
}
/* Flickr */
.flickr_badge_image {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
}
/* Custom title */
.custom_title_center .title_seperator{
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.custom_title_right .title_seperator::after{
    right: 100%;
    left: inherit;
}
.custom_title_center .title_seperator::after{
    right: 0;
    left:0;
    margin:0 auto;
}
.custom_title_right .title_seperator{
  right: 0px;
}
.widget_kaya-custom-title1{
  margin-bottom: 30px!important;
}
.custom_title_wrapper p{
  padding-bottom: 0px;
}
/* Blog Page */
.blog_style2 .blog_post_content_wrapper{
  width: 102.6%;
}
.blog_post_wrapper  article{
  margin-bottom:60px;
  clear: both;
  float: left;
  width: 100%;
  position: relative;
}
.blog_post_content_wrapper {
    background-color: #758384;
    overflow: hidden;
    display: block;
    padding:5px;
}
.post_description_wrapper {
    padding: 35px;
}
.meta_post_info span i, .meta_post_info span a {
    padding-right: 10px;
}
.meta_post_info span a {
    padding-left: 10px;
}
.blog_post_content_wrapper > .one_third:not(.post_description_wrapper) {
  width: 40%;
  margin: 0;
  position: relative;
}
.blog_style1  .fullwidth_meta_date_wrapper, .blog_style1.format-quote .meta_date_wrapper, .standard-blog .fullwidth_meta_date_wrapper, .standard-blog .format-quote, .masonry_blog_gallery .post_format-post-format-quote .meta_date_wrapper, .masonry_blog_gallery .meta_date_wrapper.fullwidth_meta_date_wrapper, .post_format-post-format-quote .meta_date_wrapper, .meta_date_wrapper.fullwidth_meta_date_wrapper {
  left: 0px;
}
.post_img_with_date{
  position: relative;
}
.blog_post_content_wrapper .two_third_last:not(.post_description_wrapper) {
    width: 60%;
    margin: 0;
    position: relative;
}

.blog_post_wrapper .date_category span{
  letter-spacing: 2px;
  font-weight: 400;
}
.blog_post_wrapper .readmore_button{
  padding: 0px;
  margin-top: 30px;
}

.gllery_slider, .format-quote span.image_title_border{
  display: none;
}
.meta_post_info{
  margin-bottom: 0!important;
  color: #ffffff;
  border-top: 1px solid #869193;
  border-bottom: 1px solid #869193;
  padding: 5px;
}
.meta_date_wrapper {
  position: absolute;
  top: 0%;
  left:0%;
  color: #353535;
  border: 2px solid #ffffff;
  margin: 0px;
  z-index: 1;
}
.meta_date {
  background: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  margin: 4px;
  text-align: center;
}
.meta_date span {
    display: block;
}
.blog_style1 .readmore_button.button_align_left, .standard-blog .readmore_button.button_align_left{
  left: 0px;
}
/* Blog style 2*/
.blog_post_wrapper article.one_third{
  clear:inherit;
  width:30.70%;
  margin-right: 2.6%;
  margin-bottom: 2.6%!important;
}
/* Quotation */
.quote_format h3 {
  margin-bottom: 15px;
  font-weight: 100!important;
  font-size: 18px;
}
.quote_format h5 {
  margin-bottom: 30px;
  opacity: 0.8;
}
.quote_format_text i{
  margin-right: 14px;
  margin-left: 14px;
}
article.post_format-post-format-quote .post_description_wrapper, article.format-standard .fullwidth .post_description_wrapper {
    padding-left: 140px;
}

/* Portfolio Draggable Slide */
.portfolio_widget_slider{
  display: none;
}

/*---------------------------
  Contact Contact Form 
---------------------------*/
.contact_loader{
  margin-left: 10px;
  visibility: hidden;
  display: inline-block!important;
}
#contact-form .success {
    margin-bottom: 10px;
}
#contact-form i {
    font-size: 16px;
    margin-top: 12px;
    position: absolute;
    right: 9px;
    top: 0;
    color: #b6b6b6;
}
#contact-form .fullwidth{
    position: relative;
}
#contact-form input, #contact-form  textarea, #application-form input, #application-form textarea{
    width: 98%;
    padding: 12px 1%;
    background: none;
    border: 1px solid #ffffff;
}
#application-form .one_half input, #application-form .one_half_last input{
    width: 96%;
    padding: 2%;
}
#application-form  input.readmore_button{
    width: auto!important;
    cursor: pointer;
         -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#contact-form .button{
    width: 100%!important;
    width: 100%!important;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.fullwidth.contact_button_wrapper{
  padding-bottom: 0px;
}
/* Twitter */
.twitter_container li {
    margin-bottom: 14px;
}
.twitter_container ul {
    list-style: none!important;
    margin: 0!important;
}
.twitter_container i {
    background-color: #ed3c74;
    color: #fff;
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    padding: 3px;
}
.twitter_container li > a{
    margin-bottom: 15px;
    display: inline-flex;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.more_tweets{
  letter-spacing: 2px;
  font-size: 11px;
}
/* Shortcoses */
.block_quotes h3 {
  margin-bottom: 0px;   
}
/* Success Message */
.success {
    margin-bottom: 10px;
}
/*Alert Box*/
.close_alert_icon, .alert_awesome_icon{
  font-size: 18px;
  cursor: pointer;
}
.alert_box{
  padding:10px 25px;
}
.close_alert_icon{
  float: right;
}
.alert_awesome_icon{
 float: left;
 width: 12%;
}

/* IMage Box TItle */

.image_title_wrapper {
  position: relative;
}
.image_title_border, .slider_thumb_border{
  border: 5px solid #FFFFFF;
  position: absolute;
  top:0;
  right: 0px;
  left: 0;
  display: block;
  z-index: 1;
  margin:0px auto;
  bottom: 0px;
}
span.image_Vertical_title{
  -moz-transform-origin: 0 0%;
  -moz-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0%;
  -webkit-transform: rotate(-90deg);
  -o-transform-origin: 0 0%;
  -o-transform: rotate(-90deg);
  -ms-transform-origin: 0 0%;
  -ms-transform: rotate(-90deg);
  transform-origin: 0 0%;
  transform: rotate(-90deg);
  position: absolute;
  top:100%;
  margin: auto;
  left: 0%;
  background-color: #fff;
  padding: 6px 20px;
  z-index: 1;
}
.image_box_wrapper:hover span.image_Vertical_title, .image_title_wrapper:hover span.image_Vertical_title{
  opacity: 0;
}
.image_inside_border_title:hover img {
  opacity: 0.3;
}
.image_inside_border_title, .image_description_wrapper, .image_inside_border_title:hover span.image_Vertical_title, .image_inside_border_title img, .image_box_wrapper,  span.image_Vertical_title{
 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.image_description_wrapper {
    background-color: #fff;
    position: absolute;
    top: 0;
    height: 92%;
    width: 90%;
    right: 0px;
    opacity: 0;
    z-index: 3;
}
.image_inside_border_title:hover .image_description_wrapper{
  right:5%;
  top: 4%;
  opacity: 1;
}
.title_description_wrapper{
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #333;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5%;
  width: 90%;
}
.image_box_wrapper .readmore_button{
  padding: 8px 20px;
}
/* Services */
.services_description_wrapper {
    position: absolute;
    top: 0;
    background-color: #fff;
    height: 100%;
    color: #5B6564;
    display: block;
    opacity: 0;
}
.services_description_wrapper p{
    padding: 30px;
}
.services_content_wrapper {
  position: relative;
  display: block;
  height: 225px;
  clear: both;
  overflow: hidden;
}
.services_icon_wrapper {
    background-color: #5B6767;
  text-align: center;
  font-size: 101px;
  height: 100%;
  line-height: 115px;
}
h3.services_title {
    background-color: #ffffff;
    padding: 8px 30px;
    color: #5B6767;
    margin-bottom: 0;
    display: table;
}

 .services_title {
    color: #5B6767;
     -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.services_description_wrapper {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  width: 100%;
}
.services_widget_wrapper:hover .services_description_wrapper{
  opacity: 1;
  }
 .services_widget_wrapper:hover .services_title{
    background: #5B6767;
    color: #fff;
  }
/* Shop Page Slider & List Style */
.shop_product_list_wrapper li.shop-products {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #645F5A;
    margin-bottom: 1px;
}
.shop-produt-image.alignleft {
    margin-bottom: 0;
}
.shop-product-description {
    overflow: hidden;
    padding: 20px 20px 20px 0px;
}
.widget_product_rating .star-rating {
    float: left!important;
    clear: both;
}
.shop-product-description span.price {
    clear: both;
    overflow: hidden;
    display: block;
}
/* User Registration Form */
.user_register_form_wrapper label {
    display: block;
}
.user_register_form_wrapper input {
    width: 96%;
    border: 1px solid #645F5A;
    padding: 10px 2%!important;
}
.user_register_form_wrapper button,  #wp-submit.readmore_button{
  background: #ed3c74;
  border:none!important;
}
.user_register_form_wrapper .login-remember input, .user_register_form_wrapper .login-submit input, .user_register_form_wrapper .readmore_button {
    width: auto;
     cursor: pointer;
}
.accordion_text_wrapper {
    background: #645f5a none repeat scroll 0 0;
    font-size: 20px;
    font-weight: normal;
    padding: 5px 20px;
    margin-bottom: 1px;
    cursor: pointer;
}
.user_register_form_wrapper > div{
  margin-bottom: 1px;
}
.user_login_form, .user_register_form, .user_forget_password_form{
    padding: 30px;
}
span.error {
  padding:10px 0;
  display: block;
}
.user_register_form_wrapper .user_logout.ui-accordion-header-active.ui-state-active{
  background: none!important;
}
p.login-submit{
  padding-bottom: 0px;
}
/* Captcha */
.g-recaptcha {
    margin-bottom: 30px;
}
/*widget search */
.widget_toggle_search_wrapper .toggle_search_field{
  padding: 10px!important;
}
.widget_toggle_search_wrapper .toggle_search_field{
  width: 100%;
}
.widget_toggle_search_wrapper .search_box_style{
   width: 100%;
  margin-bottom: 15px;
  clear: both;
  overflow: hidden; 
}
.widget_toggle_search_wrapper .search_box_style input {
  background: none;
  border: 1px solid #ccc;
  width: 94%!important;
  padding: 10px!important;
  color: #969696;
}
.widget_toggle_search_wrapper .toggle_search_field select.fullwidth {
  width: 100%!important;
}
.widget_toggle_search_wrapper .toggle_search_field select option{
  background: #e5e5e5;
  color: #424242;
  padding: 10px 0;
  display: block;
}
.widget_toggle_search_wrapper .toggle_search_field select.fullwidth {
  width: 100%!important;
}
.widget_toggle_search_wrapper .toggle_search_wrapper select {
  margin-right: 5px;
  padding: 7px 12px;
  height: 33px;
  line-height: 33px;
}
.widget_toggle_search_wrapper .toggle_search_wrapper .search_form #search_submit{
  border: 0px!important;
  border-radius: 0;
  background: #ed3c74;
  color: #fff;
  width: 100%!important;
}
.widget_toggle_search_wrapper .toggle_search_opend a{
  color: #ed3c74!important;
}
.widget_toggle_search_wrapper .toggle_search_field select {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    width: 48.7%!important;
    color: #969696;
    margin-right: 0.3%!important;
    background: none;
}
.widget_toggle_search_wrapper #search_submit{
  width: 100%!important;
}
.widget_toggle_search_wrapper .search_box_style .advanced_search_checkbox {
    width: 20px!important;
}
.widget_toggle_search_wrapper .toggle_search_field select:first-child {
   
}
.widget_toggle_search_wrapper .search_close{
  display: none;
}