/**** Isotope Filtering ****/
.isotope-ready, .isotope-ready.isotope-item {
    -webkit-transition-duration: 0.8s;
       -moz-transition-duration: 0.8s;
        -ms-transition-duration: 0.8s;
         -o-transition-duration: 0.8s;
            transition-duration: 0.8s;
}

.isotope-ready {
    -webkit-transition-property: height, width;
       -moz-transition-property: height, width;
        -ms-transition-property: height, width;
         -o-transition-property: height, width;
            transition-property: height, width;
}

.isotope-ready.isotope-item {
      -webkit-transition-property: -webkit-transform, opacity;
         -moz-transition-property:    -moz-transform, opacity;
          -ms-transition-property:     -ms-transform, opacity;
           -o-transition-property:      -o-transform, opacity;
              transition-property:         transform, opacity;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling
------------------------------------------------------*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
     -moz-transition: none;
      -ms-transition: none;
       -o-transition: none;
          transition: none;
}
.portfolio_content_wrapper ul {
  margin: 0!important;
  list-style: none!important;
}
.portfolio_img_grid_columns > ul li, div#model_description .one_half, div#model_description .one_third{
  float: left;
  position: relative;
  padding-bottom: 0;
  margin-right: 2%;
  list-style: none;
}
.portfolio_img_grid_columns ul li:hover span.pf_title_wrapper{
 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.pf_title_description {
    padding: 10px 15px;
    line-height: 15px!important;
}
.pf_title_description span strong{
  font-weight: 600!important
}
.pf_title_description span {
    display: inline-block;
    font-size: 12px!important;
    margin-right: 10px;
    font-style: normal!important;
}
.portfolio_columns8 > ul li, .pf_enable_gallery_images.gallery_images_column8 a, .gallery_video_column8 iframe{
  width: 11.5%!important;
}
.portfolio_columns7 > ul li, .pf_enable_gallery_images.gallery_images_column7 a, .gallery_video_column7 iframe{
  width: 13.28%!important;
}
.portfolio_columns6 > ul li, .pf_enable_gallery_images.gallery_images_column6 a, .gallery_video_column6 iframe{
  width: 15.66%!important;
}
.portfolio_columns5 > ul li, .pf_enable_gallery_images.gallery_images_column5 a, .gallery_video_column5 iframe{
  width: 19%!important;
}
.portfolio_columns4 > ul li, .pf_enable_gallery_images.gallery_images_column4 a, .gallery_video_column4 iframe{
  width: 24%!important;
}
.portfolio_columns3 > ul li, .pf_enable_gallery_images.gallery_images_column3 a, .gallery_video_column3 iframe, div#model_description .one_third{
  width: 32.3%;
}
.portfolio_columns2 > ul li, .pf_enable_gallery_images.gallery_images_column2 a, .gallery_video_column2 iframe{
  width: 49%;
}
.portfolio_columns1 > ul li{
  width: 100%;
}
div#model_description .one_third{
  width: 31%;
}
a.pf_single_page_button {
    margin-top: 20px;
}
div#model_description .one_half {
  width: 48%;
}
/* Portfolio Single Page */
.tab_content_wrapper_loader{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000000;
}
.portfolio_main_content_wrapper{
  position: relative;
  display: block;
  clear: both;
}
.portfolio_content_info_section{
  position: fixed;
  z-index:99999999999;
  box-shadow: 0 1px 3px rgba(0,0,0,0.11);
  left: 0;
  right: 0;
  bottom:0px;
}
.portfolio_content_info_section span.pf_content_show{
  border-top: 0px solid #DAE0E0;
  border-bottom: 30px solid #FFF;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  width: 0px;
  height: 0px;
  display: table;
  position: absolute;
  top: -28px;
  text-align: center;
  margin: 0px auto;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
}
.portfolio_content_info_section span.pf_content_show i{
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0;
  top: 10px;
  color: #151515;
  margin-left: 0px;
  -webkit-margin-start: -5px
}
.portfolio_fullwidth_content_section{
    height: 100%;
    position: relative;
    display: block;
}
/* Social Sharing */
.social_media_sharing_icons ul {
    margin: 0!important;
    list-style: none!important;
    display: table;
}
.social_media_sharing_icons li {
  display: inline-block;
  margin-bottom: 0;
  border-right:1px solid rgba(0,0,0,.2);
  float: right;
}
.social_media_sharing_icons li:first-child{
  border-right: 0px;
}
.social_media_sharing_icons li a{
  padding: 4px 12px;
  display: block;
}
.social_media_sharing_icons li a{
  color: #fff;
}
.mid_container_wrapper_section .social_media_sharing_icons li a i:hover{
  opacity: 0.7;
}
 .single_page_content_wrapper #singlepage_nav {
    margin: 45px auto 0px;
    width: 100%;
    /* overflow: hidden; */
}
.pf_single_nav_buttons {
      display: table;
      margin: 0px auto!important;
      list-style: none!important;
}
.pf_single_nav_buttons li {
    display: inline-block;
    list-style: none;
}
/* Tabs */
.pf_tab_list {
    position: relative;
    z-index: 10;
    clear: both;
    display: block;
}
.pf_tab_list > ul{
  list-style: none!important;
  margin: 0 0 30px 0px!important;
  text-align: left;
  position: relative;
}
.pf_tab_list  > ul > li.pf_tabs_style{
    background: #f5f5f5;
    margin-right: 5px;
    width: auto;
    display: inline-block;
    position: relative;
    padding: 10px;
    margin-bottom: 2px!important;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #e5e5e5;
}
.pf_tab_list > ul > li.pf_tabs_style > a{
  color: #fff;    
     display: block;
}
.pf_tab_list > ul > li.tab-active{
    background: #ed3c74;
     border: 1px solid #F30D0D;
}
.pf_tabs_contant_wrapper{
  float: left;
}
.pf_tabs_content_wrapper {
    width: 100%;
    display: none;
    min-height: 250px;
}
#video_iframes{
    display: block;
    overflow: hidden;
}
/* I frame Videos */
.single_video_iframe, .pf_enable_gallery_images{
  width: 101%;
}
/* Gallery Images & Slider */
.single_image_slider{
    display: none;
    margin-bottom: 30px;
}
.single_page_slider_loader{
    background: url('../images/ajax-loader.gif');
    position: relative;
    top: 50%;
    margin: 0px auto;
    display: block;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px auto;
    background-position: center;
    min-height:350px;
}
.pf_enable_gallery_images a{
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
}
.single_video_iframe.clearfix iframe{
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
}
.social_media_sharing_icons {
    display: none;
    position: absolute;
    width: 350px;
    right: 0;
    top: 100px;
    z-index: 50;
}
#gallery_horizontal.owl-carousel.owl-loaded{
  margin-bottom: 10px;
}
.pf_shortlist_details_wrapper {
    line-height: 18px;
    padding: 10px 0;
    text-transform:uppercase;
}
.pf_shortlist_details_wrapper h5{
  margin-bottom: 0px;
}
.pf_short_list_gallery li span {
    margin-right: 10px;
}

.pf_short_list_gallery span {
    line-height: 0!important;
    font-size: 12px;
}
/* Model Details */
.single_page_content_wrapper h3 {
    color: #fff;
}
#mid_container_wrapper .pf_model_info_wrapper ul{
  margin: 0;
  list-style: none;
}
#mid_container_wrapper .pf_model_info_wrapper ul li{
    display: block;
    margin: 0;
    padding: 2px 0;
    margin-right: 12px;
    display: inline-block;
    position: relative;
    padding-right: 13px;
}
.portfolio_images_wrapper ul{
  margin:0px!important;
}
.pf_model_info_wrapper strong {
  font-weight: normal;
}
#mid_container_wrapper .pf_model_info_wrapper ul li span{
  color: #facddf;
}
.pf_model_info_wrapper {
  margin: 0px auto;
  display: block;
  text-align: left;
  margin-bottom: 15px;
  border-top: 0px solid #FFFFFF;
  border-bottom: 0px solid #FFFFFF;
  position: relative;
}
.pf_model_info_wrapper ul li::after{
  content: "/";
  position: absolute;
  top: 2px;
  right: 0;
}
#mid_container_wrapper .pf_model_info_wrapper ul li:last-child::after{
  display: none;
}
.pf_model_additional_info {
    text-align: center;
    padding: 50px 30px 0px;
    color: #fff;
}
.model_info_icon, .model_share_icon{
    background-color: #ffffff;
    display: inline-block;
    padding: 8px 20px;
    margin-left: 2px;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.model_info_icon::before{
    content: "";
    position: absolute;
    display: block;
    right: -28px;
    border-top: 46px solid #ffffff;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 28px solid transparent;
    top: 0;
}
.model_share_icon::before{
    content: "";
    position: absolute;
    display: block;
    left: -28px;
    border-bottom: 45px solid #ffffff;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 28px solid transparent;
    top: 0;
}
.model_info_icon {
    margin-right: 30px!important;
    padding-right: 12px;
}
.model_share_icon {
    margin-left: -1px;
    padding-left: 6px;
}
.model_info_share_icons_wrapper, .pf_model_share_icon_wrapper{
  float: right;
  position: relative;
  display: block;
}
.pf_model_details_content_wrapper{
  float: left;
}
.pf_model_details .toggle_activate, .social_media_sharing_icons.toggle_activate{
  display: block!important;
}
/* MOdel Description */
#model_description .description ul li, #model_description .description p {
  color:#b9b9b9;
}
#model_description{
  overflow: hidden;
  margin-bottom: 30px;
}
#model_description .description ul{
  list-style: none!important;
  margin: 0px;
}
/* Back to page */
.pf_back_to_page a{
    background: #F33;
    color: #fff;
    padding: 0;
    margin-top: 0;
    line-height: 34px!important;
    padding: 6px 8px;
    border: 1px solid #f00;
}
/* User Profile Button */
a.user_profile_button {
    padding: 8px 20px;
    background: #fff;
    display: table;
    margin: 0px auto;
    margin-top: 30px;
}
/* Social Sharing */
#mid_container_wrapper .pf_social_share_icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.pf_social_share_icons li{
    list-style: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    border-radius: 100%;
    position: relative;
    margin-bottom: 5px;
}
.pf_social_share_icons li a {
    background: #FFFFFF;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 1px;
    display: inline-block;
    border: 1px solid #e5e5e5;
}
span.share_on_msg {
    display: inline-block;
    float: left;
    margin-right: 30px;
    text-align: center;
}
.pf_social_share_icons {
    margin: 0px auto;
    display: block;
    text-align: left;
    margin-top: 0px;
    clear: both;
}
.social_sharing_icons{
  display: none;
}
/* Share Email Form Section */
.user_send_email_post {
    width: 240px;
    background: #FFFFFF;
    padding: 30px;
    position: absolute;
    top: 36px;
    margin: 0px auto;
    z-index:50;
    display: none;
    left: 21%;
    top: 0%;
    margin-top: -170px;
}
.user_send_email_post input {
    width: 90%;
    padding: 10px 5%!important;
    background: #ed3c74;
    color: #fff;
}
#send_mail_to_post{
    cursor: pointer;
    display: inline-block!important;
    width: 100%;
    margin-top: 15px;
}
#send_mail_to_post.button_disable{
    cursor: no-drop;
}
img.mail_form_load_img {
    margin: 10px auto 0;
}
.user_send_email_post p, .success_result {
    padding-bottom: 8px;
}
.success_result, #mid_container_wrapper .mail_form_load_img{
    display: none;
}
i.user_email_form_close {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(127,127,127,.2);
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 22px;
    color: #959595;
    cursor: pointer;
}
/* Model Add Cart */
a.item_button {
    position: absolute;
    background: #000;
    color: #fff!important;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    transform: rotate(-45deg);
    line-height: 125px;
    top: -40px;
    left: -40px;
    z-index: 1;
}
a.item_button i{
  transform: rotate(45deg);
}
.portfolio_content_wrapper .item_selected .add, .portfolio_content_wrapper .remove, .advance_search_wrapper .item_selected .add, .advance_search_wrapper .remove, .page-template-shortlist .advance_search_wrapper a.item_button.action.remove, .page-template-shortlist .advance_search_wrapper .item_selected .add{
    display: none;
}
.portfolio_content_wrapper .add, .portfolio_content_wrapper .item_selected .remove, .page-template-shortlist a.item_button.action.remove,  .advance_search_wrapper .item_selected .remove, .page-template-shortlist .advance_search_wrapper .item_selected a.item_button.action.remove{
  display: block;
}
.portfolio_main_content_wrapper.item_selected a.add, .portfolio_main_content_wrapper .remove{
    display: none;
    color: #fff!important
}
.portfolio_main_content_wrapper a.add, .portfolio_main_content_wrapper.item_selected .remove, .portfolio_main_content_wrapper.advance_search_wrapper a.add{
    display: block;
    color: #fff!important;
}
.pf_item_add_remove {
    display: table;
}
.pf_item_add_remove .action {
    padding: 5px 15px;
    margin-bottom: 30px;
}
.pf_item_add_remove .action i {
    padding-right:5px;
}
.item_button.add, .page-template-shortlist .pf_short_list_gallery ul li .item_button.action.remove{
  display: none;
}