@media only screen and (min-width: 1281px) and (max-width: 1400px) {
    #mid_container{
        padding-left: 30px;
        padding-right: 30px;
    }
    #content_section.three_fourth,  #content_section.three_fourth_last{
        width: 66.05%;
    }
    aside.one_fourth_last, aside.one_fourth{
         width: 30.15%;
    }
    .blog_post_content_wrapper .two_third_last, .blog_post_content_wrapper .one_third, .woocommerce div.product div.images, .woocommerce-page div.product div.summary, .single-product-image{
        width: 100%;
    }
    .woocommerce-page div.product div.summary{
        width: 94%;
    }
    .blog_style1 .readmore_button, .standard-blog .readmore_button{
        left: 0px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .header_contact_info{
        padding: 0px;
    }
    .header_right_section{
        -ms-transform: none;
        -webkit-transform: none
        -moz-transform: none;
        transform: none;
    }
    #mid_container_wrapper .portfolio_img_grid_columns.portfolio_columns4 > ul li, #mid_container_wrapper .portfolio_img_grid_columns.portfolio_columns5 > ul li{
        width: 31.8%!important;
        margin-right: 1.5%!important;
    }
    .portfolio_columns6 > ul li, .portfolio_columns7 > ul li, .portfolio_columns8 > ul li{
        width: 19%!important;
    }
    .blog_post_wrapper article.one_third{
        width:47.4%!important;
    }
    .three_fourth, .one_fourth_last.sidebar_left, .one_fourth.sidebar_left, .three_fourth_last, .one_fourth_last.right_sidebar{
        width: 100%;
    }
    .one_fourth_last{
        margin-top:30px;
    }
    .panel-row-style-parent{
        width: 50%!important;
        margin-bottom: 30px;
    }
    .coming_soon_page_banner{
         top: 70px;
    }
    .coming_soon_banner_content h3.title_style1{
        font-size: 2em;
    }
     .countdown_time, .coming_soon_banner_content p{
        font-size: 15px;
    }
    /* Menu */
    .menu > ul > li > a{
        padding-left:12px!important;
        padding-right:12px!important;
    }
    .fm-form li{
        width: 48.6%;
    }
}
/* Tablet (Portrait) */
/* Width of 768px */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #mid_container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .social_media_sharing_icons span.share_on_title{
        float: left;
    }
    .header_contact_info{
        padding:0px;
    }
    .header_right_section{
        -ms-transform: none;
        -moz-transform:none;
        transform:none;        
        margin-top: 0px!important;
     }
     .header_logo_wrapper{
        padding-top:0!important;
     }
     .header_content_wrapper{
        padding: 10px 0px!important;
     }
     .header_top_bar_setion{
        position: relative!important;
     }
     .mid_container_wrapper_section{
        padding-top: 0!important;
        padding-bottom: 0px!important;
     }
     /* Menu */
     .mobile_nav_menu_show{
        display: none!important;
    }
    .mobile_header_menu_icons{
        float: right;
        width: 100px;
    }
    div.toggle_search_icon {
      display: block;
    }
    .toggle_menu_border_wrapper{
        width: 59px;
        float: right;
        display: inline-block;
        margin-top: 0px;
        margin-left:10px;
        padding: 0px;
    }
    .header_content_wrapper .one_fifth, .header_content_wrapper .four_fifth_last{
        overflow: hidden;
        clear: both;
        width: 100%;
    }
    .header_logo_wrapper{
        float: left;
        text-align: left;
    }
    /* Search */
    .toggle_search_icon{
        height: 35px;
        width: 35px;
        line-height: 35px!important;
        padding: 0px!important;
    }
    .toggle_search_icon .fa::before{
        padding-left:5px!important;
         padding-top:10px!important;
    }
    .mobile_menu_section ul li.toggle_search_icon{
        display: none;
    }
    /* Slider */
    .main_header_slider_wrapper{
        top: 0px!important;
    }
    .main_header_slider_wrapper .owl-item img{
        width: 100%;
    }
    /* Portfolio Columns Display */
    .portfolio_content_wrapper ul.isotope-container li{
        width: 32.33%!important;
    }
    .images_gallery_wrapper ul li, .portfolio_columns4 > ul li, .portfolio_columns4 > ul li, .pf_enable_gallery_images a, .gallery_video_column4 iframe, #pf_image_gallery .pf_enable_gallery_images a, .single_video_iframe  iframe{
        width: 49%!important;
        margin-top: 0px;
    }
     .portfolio_left_content_section, .portfolio_fullwidth_content_section{
        width: 100%!important;
        position: relative!important;
        padding-left: 0px!important;
        z-index: 999999999999999999999!important;
    }
    #video_iframes{
        padding-right: 0px;
    }
    #mid_container_wrapper .pf_model_info_wrapper ul li{
        display: inline-block;
    }
    div#model_description .one_third{
        width: 100%;
        margin-right:0px; 
    }
    #gallery_horizontal .owl-controls, .portfolio_content_info_section span.pf_content_show{
        display: none;
    }
    .portfolio_content_info_section{
        position: relative!important;
        bottom: 0px;
    }
    .portfolio_content_info_wrapper{
        display: block!important;
    }
    /* Call Out Box */
    .callout_box_content .three_fourth{
        text-align: center;
        margin-bottom: 30px;
    }
    .bottom_footer_bar_wrapper.body_frame_border_wrapper, .single-portfolio .bottom_footer_bar_wrapper{
        position: relative!important;
    }
    .fullscreen_slider_bg .bottom_footer_bar_wrapper.body_frame_border_wrapper, .page-template-coming-soon .bottom_footer_bar_wrapper.body_frame_border_wrapper, .error404 .bottom_footer_bar_wrapper.body_frame_border_wrapper{
        position: absolute!important;
    }
    .bottom_footer_bar_wrapper .one_third, .bottom_footer_bar_wrapper .one_third_last{
        width: 100%;
        text-align: center;
        margin:0px auto;
    }
    .bottom_footer_bar_wrapper ul li{
        text-align: center;
        float: none;
    }
    .footer_social_sharing_icons ul{
        display: block!important;
        right: 0;
        position: relative!important;
        width: 100%;
        float: none;
    }
    .mobile_bottom_footer.footer_scroll{
        position: fixed;
    }
    .social_share_button{
        display: none;
    }
    /* Blog */
    .blog_post_content_wrapper .one_third, .fm-form li{
        margin: 0px;
    }
    .blog_style1 .readmore_button,  .standard-blog .readmore_button{
        left: 0px;
    }
    .testimonial_slider_wrapper .thumbimg .slider_thumb_img {
        height: 70px!important;
        width: 70px!important;
    }
    /* Coming soon */
     .coming_soon_banner_content h3.title_style1{
        font-size: 2em;
    }
     .countdown_time, .coming_soon_banner_content p{
        font-size: 15px;
    }
    /* Error Page */
    .error_404_content{
        position: relative!important;
        -ms-transform:none!important;
         -webkit-transform:none!important;
        -moz-transform: none!important;
        transform:none!important;
    }
    /* Footer */
    .bottom_footer_bar_wrapper .one_half, .bottom_footer_bar_wrapper .one_half_last{
        width: 100%;
        text-align: center;
        margin:0px auto;
    }
    .footer_section.one_half{
        padding: 22px 0; 
    }
    .footer_section ul li, .footer_section{
        line-height: 0px;
    }
    ul#menu-footer-menu li, .menu-footer ul li {
        margin-bottom: 0;
        padding: 10px 0px;
        margin-left: 5px;
    }
    ul#menu-footer-menu, .menu-footer ul, .footer_social_sharing_icons ul{
        text-align: center;
    }
    .bottom_footer_bar_wrapper .menu-footer{
        float: none;
    }
    /* Fluid  Width */
    .image_boxes img,  .portfolio_content_wrapper ul.isotope-container li img, .three_fourth, .one_fourth_last, #footer_bottom .one_half, #footer_bottom .one_half_last,.footer_widgets .one_fourth, .footer_widgets .one_fourth_last, .three_fourth_last, .one_fourth_last, .one_fourth.sidebar_left, .portfolio_content_wrapper .portfolio_content_style3 ul.isotope-container li, .woocommerce div.product div.images, .blog_post_wrapper, .blog_post_content_wrapper .two_third_last, .blog_post_content_wrapper .one_third,  .blog_post_wrapper article.one_third, .fm-form li, .testimonial_slider_wrapper, .fm-form ul,  p.comment-form-author, p.comment-form-email, p.comment-form-rating{
        width: 100%!important;
    }
    /* image boxes */
    .image_box_image_align_left .description_box, .image_box_image_align_right .description_box{
        padding: 30px 30px 0!important;
    }
    /* WP Default gallery */
    div.gallery  .gallery-item{
        width: 33.2%!important;
    }
    /* Woocommerce */
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
        width: 48.5%!important;
    }
    .woocommerce ul.products li.product:nth-child(2n+1){
        clear:both;
    }
    .woocommerce #review_form #respond p{
     margin-bottom: 10px!important;
    }
    .shop_table.cart th, .shop_table.cart td{
        padding:10px 0px!important;
    }
    .woocommerce-page div.product div.summary{
        width: 94%;
        padding: 3%;
    }
    .single-product-tabs li a{
        padding:10px 26px!important;
    }
    .gallery_slider_single_column, .gallery_slider_prev_column{
        width: 100%!important;
        float: none!important;
    }
}
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {
    #mid_container_wrapper{
        padding: 0px!important;
    }
    #mid_container {
        padding:60px 20px;
    }
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .body_frame_border_wrapper{
        position: relative!important;
    }
    .header_content_wrapper .one_fifth{
        overflow: hidden;
        clear: both;
        padding:15px 0;
    }
    .header_logo_wrapper{
        float:left;
        padding-top: 0;
    }
    .page-template-coming-soon .left_menu_bar_wrapper, .mobile_nav_menu_show, .left_menu_bar_wrapper, .header_contact_info, .user_login_info{
        display: none!important;
    }
    #header_container_wrapper{
        height: auto!important;
        width: 100%!important;
        left: 0px!important;
        top: 0px;
        position: relative;
    }
    .header_content_wrapper .header_logo_wrapper{
        padding-top:0px!important;
    }
    .bottom_footer_bar_wrapper, .mid_container_wrapper_section, .header_logo_top_bar, .coming_soon_banner_content{
        width: 100%!important;
        left: 0px;
    }
    .mid_container_wrapper_section{
        height: 100%!important;
    }
    .bottom_footer_bar_wrapper{
        height: auto!important;
        padding:10px 0; 
        background: rgba(53,52,56,0.5);
        font-size: 12px;
        text-align: center;
    }
    .bottom_footer_bar_wrapper.body_frame_border_wrapper, .single-portfolio .bottom_footer_bar_wrapper{
        position: relative!important;
    }
    .fullscreen_slider_bg .bottom_footer_bar_wrapper.body_frame_border_wrapper{
        position: absolute!important;
    }
    .bottom_footer_bar_wrapper p, .bottom_footer_bar_wrapper ul li{
        text-align: center;
        float: none;
    }
    .mobile_bottom_footer{
        display: block;
        float: right;
        width: 10%;
        font-size: 20px;
        text-align: center;
        margin-top:14px;
        margin-right: 5%;
    }
    .one_half, .one_half_last, .one_fourth, .one_fourth_last, .footer_widgets .one_fourth, .footer_widgets .one_fourth_last, .two_third, .one_third, .one_third_last, .one_fifth, .four_fifth_last, .three_fourth, .three_fourth_last, .header_menu_section, .woocommerce div.product div.images, .fm-form li{
        width: 100%!important;
        margin:0px; 
        float: none;
    }
    .description{
        overflow: inherit;
    }
    .alignleft{
        float: none;
    }
     /* Search */
    .toggle_sidebar_content_wrapper{
        width: 305px;
    }
    .mobile_header_menu_icons{
        float: right;
        width: 85px;
    }
    div.toggle_search_icon{
        display: block;   
    }
    .header_logo_wrapper{
        float: left;
        text-align: left;
    }
    .toggle_search_icon{
        height: 35px;
        width: 35px;
        line-height: 35px!important;
        padding: 0px!important;
    }
    .toggle_search_icon .fa::before{
        padding-left:5px!important;
         padding-top:10px!important;
    }
    .mobile_menu_section ul li.toggle_search_icon{
        display: none;
    }
    .search_box_style input{
        width: 90%!important;
    }
    /* Menu */
    .toggle_menu_border_wrapper{
        width: 50px;
        float: right;
        display: inline-block;
        margin-top: -10px;
    }
    #header_container_wrapper .menu ul ul{
        position: relative!important;
        left: 0;
        width: 100%;
        display: block;
        background: none!important;
        border-top:1px solid rgba(127,127,127,0.09)!important;
        border-bottom: 1px solid rgba(127,127,127,.05)!important; 
        visibility: visible;
        margin-top: 10px!important;
    }
    .menu ul ul li a:hover, .menu ul ul li.fa:hover:before, .menu ul ul li a{
        background: none!important;    
    }
    .header_top_bar_setion .header_right_section{
        -ms-transform:none;
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
        margin-top: 0!important;
    }
    #header_container_wrapper .menu > ul > li.user_login{
        border:0px!important;
        padding-left: 0px!important;
    }
    #header_container_wrapper > .menu, #header_container_wrapper > .menu ul, #header_container_wrapper{
        top: 0!important;
        margin-top: 0px!important;
        z-index: 140;
    }
        .header_menu_content_wrapper #myslidemenu{
        display: none;
    }
    .header_menu_content_wrapper{
        position: relative!important;
    }
    .mobile_menu_section ul{
        padding: 0px 5%;
    }
     /* End */
    .sub_header_wrapper{
        margin-top: 0px!important;
    }
    .header_content_wrapper .one_third {
        width: 70%!important;
        float: left;
        text-align: center;
        margin: 0px auto;
        display: inline-block;
    }
    .header_content_wrapper img.logo {
        margin: 0px;
        width: 80%;
    }
    .mobile_toggle_menu_icons{
        display: inline-block;
    }
    .user_login_info, .mobile_search_icon, .mobile_toggle_menu_icons{
        display: block;
    }
    /* Slider */
    .main_header_slider_wrapper{
        top: 0px!important;
    }
    .main_header_slider_wrapper .owl-item img{
        width: 100%;
    }
    /* Blog */
    .blog_post_wrapper, .blog_post_content_wrapper .two_third_last, .testimonial_slider_wrapper, .fm-form ul{
        width: 100%!important;
    }
    .post_description_wrapper {
        padding:30px;
    }
    .post_format-post-format-quote .post_description_wrapper, .format-standard .fullwidth .post_description_wrapper {
        padding-left: 30px!important; 
        padding-top: 130px;
    }
    .blog_post_content_wrapper .one_third{
        margin: 0px;
    }
    .blog_post_wrapper article, .post_description_wrapper{
        height: inherit!important;
    }
    .blog_style1 .readmore_button, .standard-blog .readmore_button{
        left: 0px;
    }
    .post_content_wrapper.two_third_last .mata_author{
        margin-right: 0px!important;
    }
    .commentlist li ul.children{
        padding-left: 20px!important;
        list-style: none!important;
    }
    li.comment .description{
        overflow: inherit;
    }
    #respond input.submit{
        width: 94%;
        padding: 3%
    }
    #mid_container_wrapper h3.title_style2{
        font-size: 20px!important;
    }
    .recent_post_image{
        float: none;
        margin-top: 15px;
    }
    /* Callout Boxes */
    a.callout_button.one_fourth_last.readmore_button {
        width: auto!important;
        margin-top: 45px!important;
    }
    .callout_box_content h3 {
        text-align: center;
        margin-top: 0!important;
        font-size: 20px!important;
        line-height: 30px!important;
    }
    /* Portfolio Columns Display */
    .filter ul li a {
        padding: 8px 20px;
    }
    .portfolio_content_wrapper ul.isotope-container li, .portfolio_columns4 > ul li, #pf_image_gallery .pf_enable_gallery_images a, .single_video_iframe  iframe{
        width: 100%!important;
        margin: 0px 0 30px!important;
    }
    .gallery_horizontal .owl-stage, .gallery_horizontal img{
        height: auto!important;
    }
    .pf_title_description{
        position: relative!important;
        opacity: 1;
    }
    .pf_enable_gallery_images a, .pf_extra_width{
        width: 101%;
        margin-right: 0px;
    }
    .single_page_content_wrapper .one_fourth_last{
        margin-top: 30px;
    }
    .single_video_iframe.clearfix iframe, .single_video_iframe, .portfolio_fullwidth_content_section .pf_enable_gallery_images a{
        width: 100%!important;
        margin: 0px 0px 30px;
    }
    .social_media_sharing_icons span.share_on_title{
        float: none;
    }
    .pf_tab_list > ul{
        width: 100%;
        margin-left: 0px!important;
    }
    .pf_tab_list > ul > li.pf_tabs_style, .pf_tab_list > ul > li.pf_tabs_style > a, .pf_tab_list > ul > li.pf_tabs_style:first-child::before, .pf_tab_list > ul > li.pf_tabs_style:last-child::before{
        display: block;
        -webkit-transform: skew(0deg, 0deg);
        -moz-transform: skew(0deg, 0deg);
        -o-transform: skew(0deg, 0deg);
        -ms-transform: skew(0deg, 0deg);
        transform: skew(0deg, 0deg);
        text-align: center;
    }
    .pf_tab_list > ul > li.pf_tabs_style{
        margin-bottom: 2px!important;
    }
    .pf_tab_list > ul > li.pf_tabs_style:first-child::before, .pf_tab_list > ul > li.pf_tabs_style:last-child::before{
        left: 0px;
    }
    .pf_social_share_icons li{
        margin-bottom: 5px;
    }
    .images_gallery_wrapper li img {
        width: 100%;
    }
    .single_page_sharing_icons ul{
        float: none;
        margin-top: 20px!important;
    }
    #singlepage_nav, .nav_prev_item{
        float: none;
        text-align: center;
    }
    .nav_prev_item {
        margin-bottom: 35px;
    }
    #gallery_horizontal.owl-carousel.owl-loaded{
        height: auto!important;
    }
    #mid_container_wrapper .pf_model_info_wrapper ul li{
        display: inline-block;
    }
    .portfolio_left_content_section, .portfolio_fullwidth_content_section{
        width: 100%!important;
        position: relative!important;
        height: auto!important;
        float: none!important;
        padding-left: 0px!important;
    }
    #gallery_horizontal .owl-controls, .portfolio_content_info_section span.pf_content_show{
        display: none;
    }
     .portfolio_content_info_section{
        position: relative!important;
        bottom: 0px!important;
    }
    .portfolio_content_info_wrapper{
        display: block!important;
    }
    .pf_tabs_contant_wrapper{
        float: none!important;
    }
    .pf_back_to_page a{
        padding:6px 14px!important;
        display: table;
        margin-bottom: 20px;
    }
    .user_send_email_post{
        margin-top: 0px!important;
        left: 0px;
        right: 0px;
    }
    /* Sidebar */
    #sidebar.page_sidebar{
        margin-top: 30px;
    }
    /* Footer */    
    .footer_section.one_half, .footer_section.one_half_last{
        width: 100%;
        text-align: center;
        margin:0px auto;
    }
    .footer_section.one_half{
        padding-bottom: 10px; 
    }
    .footer_section ul li, .footer_section{
        line-height: 25px;
    }
    ul#menu-footer-menu li, .menu-footer ul li {
        margin-bottom: 0;
        margin-left: 5px;
    }
    ul#menu-footer-menu, .menu-footer ul, .footer_social_sharing_icons ul{
        text-align: center;
    }
    .bottom_footer_bar_wrapper .menu-footer{
        float: none;
    }
    .mobile_bottom_footer.footer_scroll{
        position: fixed;
    }
    .social_share_button{
        display: none;
    }
    .footer_social_sharing_icons ul{
        display: block!important;
        right: 0;
        position: relative!important;
        width: 100%;
    }
    /* Images Fluid  Width */
    .image_boxes img,  .portfolio_content_wrapper ul.isotope-container li img{
        width: 100%;
    }
    /* Tabs */
    .horizontal_tabs > ul{
        display: block;
        width: 100%;
    }
    .horizontal_tabs > ul > li{
        float: none;
        display: block;
        margin-top: -1px;
    }
    .team_widget  img, .images_gallery_wrapper ul li{
        width: 100%;
    }
    .responsive-panel-grid, .accordion_wrapper .panel-grid .panel-grid-cell{
        margin-bottom: 0px!important;
    }
    /* Coming Soon*/
    .coming_soon_banner_content h3.title_style1, .error_404_page_wrapper h3, .woocommerce h2{
        font-size: 1.5em;
    }
    .coming_soon_banner_content, .coming_soon_page_banner{
        position: relative;
        margin-top: 0px;
    }
    .coming_soon_banner_content{
        top:0px;
        -ms-transform: translateX(0) translateY(0%)!important;
        -webkit-transform: translateX(0)translateY(0%)!important;
        -moz-transform: translateX(0) translateY(0%)!important;
        transform: translateX(0) translateY(0%)!important;
        transform:translateX(0) translateY(0%)!important;
    }
    .coming_soon_page_banner{
         top: 160px;
    }
     .countdown_time, .coming_soon_banner_content p{
        font-size: 15px;
    }
    .countdown_wrapper, .count_down_wrapper_border{
        margin:2px!important;
    }
    .error_404_content{
        top:0;
        position: relative!important;
        -ms-transform:none!important;
         -webkit-transform:none!important;
        -moz-transform: none!important;
        transform:none!important;
    }
    
    /* WP Default gallery */
    div.gallery  .gallery-item{
        width: 49.9%!important;
    }
    .testimonial_slider_wrapper .thumbimg .slider_thumb_img{
        height: 70px!important;
        width: 70px!important;
        margin-bottom: 0px;
    }
    .panel-row-style{
        padding-left:10px!important;
        padding-right:10px!important; 
    }
    /* Woocommerce */
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product, ul.products.shop-product-items{
        width:100%!important;
        margin-right: 0px!important;
    }
    p.comment-form-author, p.comment-form-email, p.comment-form-rating{
        width: 100%!important;       
    }
    .woocommerce #review_form #respond p{
        margin-bottom: 10px!important;
    }
    .summary.entry-summary{
        width: 80%!important;
        padding:30px 10%!important;
    }
    .shop_table.cart th, .shop_table.cart td{
        padding:10px!important;
    }
    table.shop_table.cart{
        overflow: hidden;
        display: block;
        overflow-x:inherit;
    }
    .woocommerce #content table.cart td.actions .button, .woocommerce #content table.cart td.actions .input-text, .woocommerce #content table.cart td.actions input, .woocommerce table.cart td.actions .button, .woocommerce table.cart td.actions .input-text, .woocommerce table.cart td.actions input, .woocommerce-page #content table.cart td.actions .button, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions input, .woocommerce-page table.cart td.actions .button, .woocommerce-page table.cart td.actions .input-text, .woocommerce-page table.cart td.actions input, .summary form.cart {
        width: initial;
        float: none!important;  
    }
    .product-quantity .quantity{
        width: 50px;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2, table.shop_table.woocommerce-checkout-review-order-table, .woocommerce table.shop_table.order_details, .woocommerce table.shop_table.customer_details{
        width: 100%;
        margin-bottom: 60px;
    }
    .woocommerce #payment #place_order, .woocommerce-page #payment #place_order{
        margin-bottom: 60px;
    }
    .single_add_to_cart_button.button.alt{
        margin: 0px;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        display: block;
        text-align: center;
        margin-bottom: 1px!important;
    }
    .woocommerce .order_details li{
        width: 48%;
    }
    p.woocommerce-result-count {
        text-align: center;
        float: none!important;
        margin-bottom: 0!important;
    }
    form.woocommerce-ordering {
        float: none!important;
        text-align: center;
    }
    .woocommerce div.product .woocommerce-tabs ul.tabs li a{
        width: 90%!important;
        padding: 10px 5%!important;
    }
    .woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce .summary .woocommerce-product-rating{
        float: none;
        display: block;
        position: relative;
    }
    .woocommerce #reviews #comments ol.commentlist li .comment-text{
        margin-top: 15px;
        margin-left: 0px;
    }
    .shop_attributes tr, .woocommerce table.shop_attributes th{
        padding:0px;
    }
    .woocommerce div.product .product_title{
        text-align: center;
    }
    .woocommerce .summary .price{
        width: 100%;
        text-align: center;
    }
    .woocommerce nav.woocommerce-pagination{
        margin-top: 20px;
    }

}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .portfolio_content_wrapper ul.isotope-container li{
        width: 49%!important;
    }
    .portfolio_fullwidth_content_section .pf_enable_gallery_images a{
        width: 49%!important;
        margin-right: 1%;
        display: inline-block;
        margin-bottom: 1%;
    }
    .pf_enable_gallery_images a, .single_video_iframe.clearfix iframe{
        float: none;
    }
/* Woocommerce */
    .woocommerce ul.products li.product, .woocommerce-page ul.products li.product,  #pf_image_gallery .pf_enable_gallery_images a{  
        width: 48.4%!important;     
        margin-right: 1.5%!important;
        margin-bottom: 1.5%!important;
    }
    .woocommerce ul.products li.product:nth-child(2n+1){
        clear:both;
    }
    table.shop_table.cart{
        overflow: inherit!important;
        display: inline-table!important;
        overflow-x:inherit;
    }
     .pf_tab_list > ul{
        width: auto;
        margin-left: 0px!important;        
    }
    .pf_tab_list > ul > li.pf_tabs_style{
        display: inline-block;
    }
    .recent_post_image{
        float: left!important;
        margin-top: 0px!important;
    }

}