.aboutHeader {
    margin-bottom:80px;
    font-family:Gotham A,Gotham B,Open Sans,sans-serif;
    font-weight: 900;
}
.headerSub {
    font-weight: 900;
    font-size: 20px;
    font-family: 'Open Sans Light';
    text-transform: uppercase;
    opacity: 0.75
}
.horizontal {
    margin-top:10px;
    margin-bottom: 0px;
    width: 740px;
}
.videoHeader {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Open Sans Light';
    text-transform: uppercase;
    opacity: 0.75;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700);
}
.top {
    min-height: 100px;
    /*background-color:#1A1A1A;*/
}
.belowTop {
    min-height: 200px;
    background-color:white; 
}
.belowTop2 {
    min-height: 10px;
    background-color:white;
}
.rfp {
    background-color: #e6e6e6;
    min-height: 250px;
}
.rfpLine{
    width: 20%;
    margin-top: 0px;
}
.rfpDetails{

}
.artistList{
    list-style-type: none;
    display: inline;
    float : left;
}
.vertical-gap{
    padding:50px;
}
ul.horizontal {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
}
ul.horizontal li {
    float: left;
}
ul.horizontal {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
ul.horizontal li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
    border-right: 1px solid #ccc;
}
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.tp-caption a {
    color: #134305;
    text-shadow: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out
}

.tp-caption a:hover {
    color: #134305
}

.box {
    cursor: pointer;
    height:;
    position: relative;
    overflow: hidden;
    width:;
}

.box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box .overbox {
    background-color: #134305;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 410px;
    height: 390px;
    padding: 130px 20px;
}

.box:hover .overbox {
    opacity: 1;
}

.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.box .tagline {
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}
.gist table {
    margin-bottom: 0 !important;
}

.gist .line-numbers {
    width: 4em !important;
}

.gist .line,
.gist .line-number {
    font-size: 12px !important;
    height: 18px !important;
    line-height: 18px !important;
}

.gist .line {
    white-space: pre !important;
    width: auto !important;
    word-wrap: normal !important;
}

.gist .line span {
    word-wrap: normal !important;
}
a, .add_to_cart_button:hover, .wolf-button:hover, input[type='submit']:hover, input[type='reset']:hover,
.wolf-social:hover, .wolf-show-ticket-button:hover, .team-member-social-container a:hover, h1 a:hover, h2
a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .content-light-font h1 a:hover, .content-light-font h2
a:hover, .content-light-font h3 a:hover, .content-light-font h4 a:hover, .content-light-font h5 a:hover,
.content-light-font h6 a:hover, .site-footer a:hover, #site-navigation-secondary a:hover, .comment-reply-link,
.widget a:not(.button):not(.wolf-button):hover, figure.effect-sadie .entry-meta a, #top-bar #lang_sel
a.lang_sel_sel:hover, .video-sidebar-container .video-title a:hover, .video-category .video-author-name a:hover,
.single-video .video-author-meta .video-author-name a:hover, .has-bg h2.entry-title a:hover, .post-archives
.entry-content a:hover, .video-youtube-all.single-video .video-author-meta .video-author-name a:hover,
.video-youtube.single-video .video-author-meta .video-author-name a:hover, .wolf-bigtweet-content:before {
    color:;
}

.entry-meta a:hover, .edit-link a:hover, #work-filter a.active, #work-filter a:hover, #video-filter a.active,
#video-filter a:hover, #gallery-filter a.active, #gallery-filter a:hover, #plugin-filter a.active,
#plugin-filter a:hover, #theme-filter a.active, #theme-filter a:hover, #demo-filter a.active, #demo-filter
a:hover, .menu-hover-text-color .nav-menu li a:hover, .menu-hover-text-color .nav-menu li.current-menu-item >
a:first-child, .menu-hover-text-color .nav-menu li.current-menu-ancestor > a:first-child, .menu-hover-text-color
.nav-menu li.active a:first-child, input[type='submit']#place_order:hover {
    color: #134305 !important;
}

a#scroll-down:hover, a#top-arrow:hover, input[type='submit'], input[type='reset'], .wolf-button, .button,
.add_to_cart_button, .wolf-show-ticket-button {
    background: #134305;
    border-color: #134305;
}

.content-light-font .border-button-accent-hover:hover, .border-button-accent-hover:hover, .trigger,
.sidebar-footer input[type='submit'].wolf-mailchimp-submit:hover, input[type='submit']#place_order {
    background: #134305 !important;
    border-color: #134305 !important;
}

.sidebar-footer .wolf-mailchimp-email:focus, .bypostauthor .avatar {
    border-color: #134305;
}

.wolf-social.square:hover, .wolf-social.circle:hover {
    background: #134305;
    border-color: #134305;
}

.vc_progress_bar .vc_single_bar .vc_bar, .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
    background: #134305 !important;
}

.wolf-social.hover-fill-in.square:hover, .wolf-social.hover-fill-in.circle:hover,
.wolf-social.circle.wolf-social-no-custom-style.hover-fill-in:hover,
.wolf-social.square.wolf-social-no-custom-style.hover-fill-in:hover, .icon-box.icon-type-circle
.wolf-icon-no-custom-style.hover-fill-in:hover, .icon-box.icon-type-square
.wolf-icon-no-custom-style.hover-fill-in:hover {
    -webkit-box-shadow: inset 0 0 0 1em #134305;
    box-shadow: inset 0 0 0 1em #134305;
    border-color: #134305;
}

.icon-box.icon-type-circle .wolf-icon-no-custom-style.hover-none:hover, .icon-box.icon-type-square
.wolf-icon-no-custom-style.hover-none:hover {
    background: #134305;
    border-color: #134305 !important;
}

.pricing-table-currency, .pricing-table-price, .pricing-table-strike:before {
    color: #134305 !important;
}

#navbar-container .nav-menu li.button-style > a:first-child span, #navbar-container-left .nav-menu
li.button-style > a:first-child span, #navbar-mobile .nav-menu li.button-style > a:first-child span {
    background-color: #134305 !important;
}

#navbar-container .nav-menu li.button-style > a:first-child span:hover, #navbar-container-left .nav-menu
li.button-style > a:first-child span:hover, #navbar-mobile .nav-menu li.button-style > a:first-child span:hover {
    background: #a72715;
}

figure.effect-sadie .item-icon, #infscr-loading, .shortcode-videos-grid figure, .shortcode-works-grid figure,
.shortcode-plugins-grid figure, .shortcode-albums-grid figure, .pricing-table-featured, .pricing-table-inner ul
li.pricing-table-button a:hover, .pricing-table-active ul li.pricing-table-button a, .nav-menu .product-count,
.menu .product-count, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page
.widget_price_filter .ui-slider .ui-slider-range, .woocommerce span.onsale, .woocommerce-page span.onsale,
.woocommerce .woocommerce-tabs .panel, .woocommerce-page .woocommerce-tabs .panel, .woocommerce
.woocommerce-tabs ul.tabs li.active, .woocommerce-page .woocommerce-tabs ul.tabs li.active,
.pricing-table-price-strike:before, .notif-count {
    background: #134305;
}

::-moz-selection {
    background-color: #134305 !important;
}

::selection {
    background-color: #134305 !important;
}

.is-home-header .hero-inner {
    background: url("assets\img/image13.jpg") center center no-repeat
}

.is-home-header .hero-inner {
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.is-home-header .header-overlay {
    background-color: #000;
}

.is-home-header .header-overlay {
    opacity: 0.35
}

#navbar-container .nav-menu li.cart-menu-item .cart-menu-panel, #navbar-container .nav-menu li ul.sub-menu,
#navbar-container .nav-menu li ul.children, .menu-hover-plain-color #navbar-container .nav-menu li:hover a,
.menu-hover-plain-color #navbar-container .nav-menu li.current-menu-item > a:first-child,
.menu-hover-plain-color #navbar-container .nav-menu li.current-menu-ancestor > a:first-child,
.menu-hover-plain-color #navbar-container .nav-menu li.active > a:first-child,
.sticky-menu.menu-hover-plain-color #navbar-container .nav-menu li:hover a, .sticky-menu.menu-hover-plain-color
#navbar-container .nav-menu li.current-menu-item > a:first-child, .sticky-menu.menu-hover-plain-color
#navbar-container .nav-menu li.current-menu-ancestor > a:first-child, .sticky-menu.menu-hover-plain-color
#navbar-container .nav-menu li.active > a:first-child {
    background-color: #134305 !important;
}

.menu-hover-border-top.menu-transparent.is-home-header .nav-menu li:hover a,
.menu-hover-border-top.menu-semi-transparent.is-home-header .nav-menu li:hover a,
.menu-hover-border-top.menu-transparent.is-home-header .nav-menu li.current-menu-item > a:first-child,
.menu-hover-border-top.menu-transparent.is-home-header .nav-menu li.current-menu-ancestor > a:first-child,
.menu-hover-border-top.menu-semi-transparent.is-home-header .nav-menu li.current-menu-item > a:first-child,
.menu-hover-border-top.menu-semi-transparent.is-home-header .nav-menu li.current-menu-ancestor > a:first-child,
.menu-hover-border-top.menu-transparent.has-header-image.show-title-area .nav-menu li:hover a,
.menu-hover-border-top.menu-semi-transparent.has-header-image.show-title-area .nav-menu li:hover a,
.menu-hover-border-top.menu-transparent.has-header-image.show-title-area .nav-menu li.current-menu-item >
a:first-child, .menu-hover-border-top.menu-transparent.has-header-image.show-title-area .nav-menu
li.current-menu-ancestor > a:first-child,
.menu-hover-border-top.menu-semi-transparent.has-header-image.show-title-area .nav-menu li.current-menu-item >
a:first-child, .menu-hover-border-top.menu-semi-transparent.has-header-image.show-title-area .nav-menu
li.current-menu-ancestor > a:first-child {
    -webkit-box-shadow: inset 0px 3px 0px 0px #134305;
    box-shadow: inset 0px 3px 0px 0px #134305;
}

/*#navbar-container-right .wolf-social, #navbar-container-right .widget-title, #navbar-container-right,
#navbar-container-right a, #navbar-container-right a:hover, #navbar-container-right .wolf-twitter-widget
ul.wolf-tweet-list li:before,*/
.wolf #navbar-container .nav-menu li.cart-menu-item .cart-menu-panel a, .wolf #navbar-container .nav-menu li
ul.sub-menu span, .wolf #navbar-container .nav-menu li ul.children span, .wolf #navbar-container .nav-menu li
ul.sub-menu li:before, .wolf #navbar-container .nav-menu li ul.children li:before,
.menu-dark.menu-hover-plain-color .nav-menu li:hover a, .menu-dark.menu-hover-plain-color .nav-menu
li.current-menu-item > a:first-child, .menu-dark.menu-hover-plain-color .nav-menu li.current-menu-ancestor >
a:first-child, .menu-light.menu-hover-plain-color .nav-menu li:hover a, .menu-light.menu-hover-plain-color
.nav-menu li.current-menu-item > a:first-child, .menu-light.menu-hover-plain-color .nav-menu
li.current-menu-ancestor > a:first-child, .sticky-menu.menu-hover-plain-color #navbar-container .nav-menu
li:hover a, .sticky-menu.menu-hover-plain-color #navbar-container .nav-menu li.current-menu-item >
a:first-child, .sticky-menu.menu-hover-plain-color #navbar-container .nav-menu li.current-menu-ancestor >
a:first-child {
    color: #ffffff !important;
}

#loading-overlay {
    background: #333
}

.loader2-double-bounce1, .loader2-double-bounce2, .loader3 > div, .loader4-cube1, .loader4-cube2, .loader5,
.loader6-dot1, .loader6-dot2, .loader7 > div, .loader8-container1 > div, .loader8-container2 > div,
.loader8-container3 > div {
    background-color: #fff
}

.entry-meta, .category, .edit-link, .author-link, .author-description, .share-link, .page-title-container
.subheading, .page-title-container .category-description p {
    font-family: 'Raleway'
}

.entry-meta, .category, .edit-link, .author-link, .author-description, .share-link, .page-title-container
.subheading, .page-title-container .category-description p {
    font-style: normal
}

h1, h2, h3, h4, h5, h2.entry-title, .widget-title, .counter-text, .countdown-period, .wolf-slide-title {
    font-family: 'Montserrat'
}

h1, h2, h3, h4, h5, h2.entry-title, .widget-title, .counter-text, .countdown-period, .wolf-slide-title {
    font-weight: 700
}

h1, h2, h3, h4, h5, h2.entry-title, .widget-title, .counter-text, .countdown-period, .wolf-slide-title {
    text-transform: uppercase
}

h1, h2, h3, h4, h5, h2.entry-title, .widget-title, .counter-text, .countdown-period, .wolf-slide-title {
    font-style: normal
}

h1, h2, h3, h4, h5, h2.entry-title, .widget-title, .counter-text, .countdown-period, .wolf-slide-title {
    letter-spacing: 2px
}

h1.page-title {
    font-family: 'TattooInk'
}

h1.page-title {
    font-style: normal
}

.nav-menu li a, #navbar-container-right {
    font-family: 'Raleway'
}

.nav-menu li a, #navbar-container-right {
    text-transform: uppercase
}

.nav-menu li a, #navbar-container-right {
    font-style: normal
}

.nav-menu li a, #navbar-container-right {
    letter-spacing: 2px
}

body, blockquote.testimonial-content, .wolf-slide-subtitle {
    font-family: 'Roboto'
}
.wpb_animate_when_almost_visible {
    opacity: 1;
}
