/* -------------------------------------------------------------- 
  
   reset.css
   * Resets default browser CSS.
   
-------------------------------------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;

}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }
/*-----------------------------------------------------------------------
 Typography Section 
-------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
header, footer, aside, section, article, nav {
    display: block;
}
iframe, object {
    display: block;
    max-width: 100%;
}
#mid_container img {
    display: block;
    height: auto;
    max-width: 100%;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    width: 100%;
}
a {
    outline: medium none;
    text-decoration: none;
}
a img {
    border: medium none;
}
:focus {
    outline: medium none;
}
a:hover {
    color: #ed3c74;
}
a, a:hover, a:visited, a:active {
    border: medium none;
    outline: medium none;
}
a:link, a {
    color: #555555;
    text-decoration: none;
}
html, body {
    height: 100% !important;
    min-height: 100% !important;
    vertical-align: top;
}
body, p {
    color: #b9b9b9;
    font-family:arial;
    font-size: 13px;
    line-height: 20px;
}
p:not(.summary p):last-child{
    padding-bottom: 0px;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
	background-color: #f2f2f2;
    height: 100% !important;
}
body, html, p, span{
     -webkit-font-smoothing: subpixel-antialiased;
}
h1, h2, h3, h4, h5, h6 {
    color: #454545;
    letter-spacing: 0;
    font-family: arial;

}
h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 7px;
}
h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 10px;
}
h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 7px;
}
h4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 7px;
}
h5 {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 7px;
}
h6 {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 7px;
}
p {
    padding-bottom: 24px;
}
table {
    border-collapse: separate;
    border-left: 1px solid rgba(204, 204, 204, 0.2);
    border-spacing: 0;
    border-top: 1px solid rgba(204, 204, 204, 0.2);
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
caption, th, td {
    font-weight: normal;
    padding: 5px;
}
table, td, th {
    vertical-align: middle;
}
th {
    background-color: rgba(204, 204, 204, 0.1);
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    font-weight: bold;
    padding: 10px;
}
td {
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    border-right: 1px solid rgba(204, 204, 204, 0.2);
    padding: 10px;
}
#wp-calendar td{
    padding: 0px;
    text-align: center;
}
#wp-calendar caption{
    text-align: center;
    background: rgba(204,204,204,.1);
    border: 1px solid rgba(204,204,204,.2);
    border-bottom: 0;
}
td span {
    font-style: italic;
}
blockquote {
  border-left: 4px solid rgba(127,127,127,.5);
  padding-left: 20px;
  margin-bottom: 30px;
  padding-bottom: 0px;
}
blockquote p {
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
     padding-bottom: 0px;
}
hr {
    border: 1px solid #EEEEEE;
    color: #EEEEEE;
    width: 100%;
}
.hr {
    background-color: #EEEEEE;
    border: medium none;
    clear: both;
    display: block;
    height: 1px;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
}
hr.custom_hr {
    background-color: rgba(127, 127, 127, 0.1);
    border: 1px solid rgba(127, 127, 127, 0.1);
    border-radius: 5px;
    height: 10px;
    width: 100%;
}
.vspace {
    clear: both;
    display: table;
    height: 0;
    margin-bottom: 30px;
    width: 100%;
}
p:empty {
    padding-bottom: 0px;
}
ul li {
    margin-bottom: 8px;
}
ul li:last-child{
    margin-bottom: 0px;
}
#mid_container_wrapper ul {

}
#mid_container_wrapper ul {
    list-style: disc outside none;
    margin: 0 0 18px 18px;
}
#mid_container_wrapper ul ul {
    margin-bottom: 0;
}
ol {
    clear: both;
    list-style: decimal outside none;
    margin: 0 0 18px 18px;
}
ol li{
    margin-bottom: 8px;
}
ol ol {
    list-style: upper-alpha outside none;
}
ol ol ol {
    list-style: lower-roman outside none;
}
ol ol ol ol {
    list-style: lower-alpha outside none;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}
dl {
    margin: 0 0 24px;
}
dt {
    float: left;
}
dd {
    display: inline-table;
    text-align: left;
}
strong {
    font-weight: bold;
    line-height: 100%;
}
cite, em, i {
    font-style: italic;
}
big {
    font-size: 131.25%;
}
ins {
    text-decoration: none;
}
pre {
     background: none repeat scroll 0 0 rgba(204, 204, 204, 0.1);
    border: 1px solid rgba(204, 204, 204, 0.4);
    color: #b9b9b9;
    line-height: 18px;
    margin-bottom:30px;
    padding: 30px;
    white-space: pre-wrap;
}
abbr, acronym {
    border-bottom: 1px dotted #666666;
    cursor: help;
}
sup, sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: 0.5ex;
}
input#s, input#searchsubmit {
}
input#searchsubmit {
}
input[type="text"], textarea, input {
    border: 1px solid rgba(127,127,127, 0.4);
    padding: 10px 25px;
    background: none;
}
input[type="text"]:focus, textarea:focus, input:focus {
}
.search_form input {
    background: none!important;
    padding: 10px 3%;
    border:1px solid #cdcdcd;
	width:94%;

}
.widget_container.widget_search #search_submit{
	width: 40px;
	text-align: center;
	line-height: 100%;
	float: right;
}
.search_form #search_submit {
    cursor: pointer;
    margin-left: -1px;
    position: relative;
    font-size: 15px;
    float: right;
}
input[type="submit"]{
    text-transform: uppercase;
    line-height: 100%!important;
}
.alignright {
    float: right;
    margin: 0 0 15px 20px;
    width: auto;
}
.alignleft {
    float: left;
    margin: 0 20px 15px 0;
    width: auto;
}
.aligncenter {
    display: block;
    margin: 0 auto 20px;
    width: auto;
}
.alignnone {
    width: auto;
    margin-bottom: 15px;
}
.wp-caption {
}
.wp-caption.alignnone{
    width: auto!important;
}
.wp-caption img {
    width: auto;
    height: auto;
}
.wp-caption p.wp-caption-text {
    margin: 0;
}
.wp-caption-text {
padding:10px 0;
display:block;
}
.gallery-caption {
}
.bypostauthor{
    
}
a img {
    border: medium none;
    display: block;
}
img{
	max-width:100%;
}
